@import "tailwindcss";

/* * { border: 1px solid #ccc; } */

.container{
    max-width: 1280px;
    margin-inline: auto;
}
html {
  scroll-behavior: smooth;
}

body{ 
    background-color: rgba(247, 247, 247, 1);
}

.active {
    border-bottom: 1px solid #123;
}